@import "fn.less";

* {
    font-family: "Ubuntu";
} div {
    line-height: 1.5;
} #footer {
    font-size: x-small;
} a {
    color: #aaffff;
} .bgcolor {
    background-color: #112222;
} .mono {
    font-family: "Ubuntu Mono";
}

textarea {
    width: inherit;
    .section(#223333);
    color: #ffffff;
}
.tab {
    text-align: center;
    padding: 5px;
    width: 100%;
    color: #aaaaaa;
    .border-colors(#00ffff, #00000000, #00000000, #00000000);
    .border-radii(0px, 0px, 0px, 0px);
    border-width: 2px;
    margin: none;
    &.tabbed {
        background-color: #00ffff44;
        color: #00ffff;
        .border-colors(#00ffff, #00ffff, #00000000, #00ffff);
        .border-radii(5px, 5px, 0px, 0px);
        &:hover {
            background-color: #ff008844;
            color: #ff0088;
            .border-colors(#ff0088, #ff0088, #00000000, #ff0088);
            .border-radii(5px, 5px, 0px, 0px);
        }
    }
    &:hover {
        background-color: #00ff0044;
        color: #00ff00;
        .border-colors(#00ff00, #00ff00, #00000000, #00ff00);
        .border-radii(5px, 5px, 0px, 0px);
    }
}

.pad(@px) {
    margin: @px;
    padding: @px;
} .section(@color) {
    .theme(@color);
    .border(@color);
} .theme(@color) {
    color: @color;
    background-color: fadeout(@color, 73.333%);
    caret-color: tint(@color, 50%);
} .margin {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

#logo, #head {
    width: 100%;
    text-align: center;
    font-size: xxx-large;
}

body {
    text-align: center;
    margin: auto;
    color: #aaaaaa;
}

.sect {
    .border(#00ffff);
    .margin();
    text-align: justify;
    padding: 10px;
    width: 90vw;
}

@media only screen and (min-width: 640px) {
    .sect {
        width: 60vw;
    }
}

@media only screen and (min-width: 1024px) {
    .sect {
        width: 50vw;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #00ffff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.line {
    height: 5px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.hide {
    .border(#334444);
    margin: 5px;
    padding: 5px;
    background-color: #223333;
    font-size: smaller;
    margin: 2px;
    padding: 2px;
    color: #223333;
    &:hover {
        color: #ffffff;
    }
    &:focus {
        color: #ffffff;
    }
}

.loading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.code {
    .border(#334444);
    background-color: #223333;
    margin: 5px;
    padding: 5px;
    color: #aaaaaa;
    font-family: "Ubuntu Mono";
    span & {
        margin: 2px;
        padding: 2px;
        font-size: smaller;
    }
}
