* {
    font-family: "Ubuntu";
}

#logo, #head {
    width: 100%;
    text-align: center;
}

body {
    text-align: center;
    margin: auto;
    color: #aaaaaa;
}

.bgcolor {
    background-color: #112222;
}

.sect {
    border: 2px solid #00ffff;
    border-bottom-color: #00000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    padding: 10px;
    width: 60vw;
}

@media only screen and (max-width: 615px) {
    .sect {
        width: 90vw;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #00ffff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.line {
    height: 5px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.hide {
    border: 2px solid;
    border-bottom-color: #00000000;
    border-right-color: #334444;
    border-left-color: #334444;
    border-top-color: #334444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 5px;
    padding: 5px;
    background-color: #223333;
    font-size: smaller;
    margin: 2px;
    padding: 2px;
    color: #223333;
}
.hide:hover {
    color: #ffffff;
}
.hide:focus {
    color: #ffffff;
}
.hide.unhide {
    color: #ffffff;
}

.loading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#footer {
    font-size: x-small;
}

a {
    color: #aaffff;
}

.code {
    border: 2px solid;
    border-bottom-color: #00000000;
    border-right-color: #334444;
    border-left-color: #334444;
    border-top-color: #334444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #223333;
    margin: 5px;
    padding: 5px;
    color: #aaaaaa;
    font-family: "Ubuntu Mono";
}
span.code {
    margin: 2px;
    padding: 2px;
    font-size: smaller;
}
