* {
    font-family: "Ubuntu";
} div {
    line-height: 1.5;
} #footer {
    font-size: x-small;
} a {
    color: #aaffff;
} .bgcolor {
    background-color: #112222;
}

@screen = ~"@media only screen and";

.border(@color) {
    border: 2px solid @color;
    border-bottom-color: #00000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.margin {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

#logo, #head {
    width: 100%;
    text-align: center;
    font-size: xxx-large;
}

body {
    text-align: center;
    margin: auto;
    color: #aaaaaa;
}

.sect {
    .border(#00ffff);
    .margin();
    text-align: justify;
    padding: 10px;
    width: 60vw;
}

@screen (max-width: 640px) {
    .sect {
        width: 90vw;
    }
}

@screen (min-width: 1536px) {
    .sect {
        width: 50vw;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #00ffff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.line {
    height: 5px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.hide {
    .border(#334444);
    margin: 5px;
    padding: 5px;
    background-color: #223333;
    font-size: smaller;
    margin: 2px;
    padding: 2px;
    color: #223333;
    &:hover {
        color: #ffffff;
    }
    &:focus {
        color: #ffffff;
    }
}

.loading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.code {
    .border(#334444);
    background-color: #223333;
    margin: 5px;
    padding: 5px;
    color: #aaaaaa;
    font-family: "Ubuntu Mono";
    span.& {
        margin: 2px;
        padding: 2px;
        font-size: smaller;
    }
}
