*:focus, *:hover {
    outline: none;
}

// Non-selectable
@nosel: #head, div, span, img;
each(@nosel, {
    @{value}:focus {
        cursor: default;
        outline: none;
    }
});

// Selectable
@sel: a, h1, h2, h3, h4, h5, h6, .hide, button, .collapser, .lnk, #jumper;
each(@sel, {
    @{value}:focus {
        cursor: pointer;
        outline: thin dotted;
    }
});
