@import (reference) "/prizm.dev/assets/css/fn.less";
@import (reference) "/prizm.dev/assets/css/media.less";

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 0px 5px;
    transition: text-shadow ease 1s;
}

@sel: a, h1, h2, h3, h4, h5, h6;
each(@sel, {
    @{value}:hover, @{value}:focus {
        text-shadow: 0px 0px 10px;
    }
});

.lnk {
    .border(#008888);
    color: #00ffff;
    display: block;
    .align(left);
    &:hover, &:focus {
        .section(#00ff00);
    }
    min-height: 3vh;
} .sel {
    .lnk();
    .section(#00ffff);
    &:hover, &:focus {
        .section(#ff0088);
    }
}

.collapser {
    .section(#cccccc88);
    border-color: #cccccc88;
    color: #cccccc;
    display: block;
    .align(left);
    &:hover, &:focus {
        .section(#ffffff88);
        color: #ffffff;
        border-color: #ffffff88;
        background-color: #ffffff05;
    }
    min-height: 3vh;
    &::before {
        content: "[V]  ";
        font-weight: bold;
        font-family: "Ubuntu Mono";
    }
} .collopen {
    .collapser();
    .section(#ffffff88);
    color: #ffffff;
    border-color: #ffffff88;
    background-color: #ffffff05;
    &::before {
        content: "[\039b]  "; // Lambda
        font-weight: bold;
        font-family: "Ubuntu Mono";
    }
} .collhover {
    background-color: #00ffff11;
    color: #aaffff;
    border-color: #aaffff88;
}

.tab {
    text-align: center;
    padding: 5px;
    color: #aaaaaa;
    .border-colors(#0fff, #0000, #0000, #0000);
    .border-radii(0px, 0px, 0px, 0px);
    border-width: 2px;
    margin: none;
    background-color: #00ffff00;
    &.tabbed {
        background-color: #00ffff44;
        color: #00ffff;
        .border-colors(#0fff, #0fff, #0000, #0fff);
        .border-radii(5px, 5px, 0px, 0px);
        &:hover, &:focus {
            background-color: #ff008844;
            color: #ff0088;
            .border-colors(#f08f, #f08f, #0000, #f08f);
            .border-radii(5px, 5px, 0px, 0px);
        }
    }
    &:hover, &:focus {
        background-color: #00ff0044;
        color: #00ff00;
        .border-colors(#0f0f, #0f0f, #0000, #0f0f);
        .border-radii(5px, 5px, 0px, 0px);
    }
}


.sect {
    .border(#00ffff);
    .margin();
    text-align: justify;
    padding: 10px;
}

.btn {
    .section(#0088ff);
    .pad(2px);
    &:hover, &:focus {
        .section(#00ffff);
        .pad(2px);
    }
}

.dict {
    display: inline-block;
    width: 0px;
    border: 2px solid #444444;
    border-radius: 2px;
    height: 1px;
    position: relative;
    top: 10px;
} .line {
    height: 5px;
    border: 2px solid #00ffff;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 10px #00ffff, inset 0px 0px 10px #00ffff;
}
